<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Pet Adoption App</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link
			rel="stylesheet"
			href="style.css" />
	</head>
	<body>
		<div id="app">
			<h1>Pet Adoption App</h1>
			<nav>
				<div @click="setPage(1)">Pets</div>
				<div @click="setPage(2)">Applications</div>
			</nav>
			<br />
			<div
				class="page"
				v-if="page === 1">
				PetPage 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Animi illo nemo nihil laudantium tempore doloremque ipsa at quod
				recusandae amet fuga ut odit, quibusdam sequi placeat magni a eligendi
				minima.
			</div>

			<div
				class="page"
				v-if="page === 2">
				<header>
					<h3>Applications</h3>
				</header>
				<div
					id="applications"
					v-for="(application, index) in applications">
					<h3>Name: {{application.name}}</h3>
					<p>Phone Number: {{application.phoneNum}}</p>
					<p>Email: {{application.email}}</p>
					<p>petID: {{application.petId}}</p>
				</div>
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
