<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Pet Adoption App</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link
			rel="stylesheet"
			href="style.css" />
	</head>
	<body>
		<div id="app">
			<h1>Pet Adoption App</h1>
			<nav>
				<div @click="setPage(1)">Pets</div>
				<div @click="setPage(2)">Applications</div>
			</nav>
			<br />
			<div
				class="page"
				v-if="page === 1">
				<input
					type="text"
					placeholder="search pet breed, name, or species"
					v-model="searchInput" />
				<button @click="createListing()">Add pet</button>
				<div
					id="pet-list"
					v-for="(pet, index) in pets">
					<h3>Name: {{pet.name}}</h3>
					<p>Species: {{pet.species}}</p>
					<p>Breed: {{pet.breed}}</p>
					<p>Age: {{pet.age}}</p>
					<p>Gender: {{pet.gender}}</p>
					<button @click="setPage(3)">Apply</button>
					<button @click="deleteListing">X</button>
				</div>
			</div>

			<div
				class="page"
				v-if="page === 2">
				<header>
					<h3>Applications</h3>
				</header>
				<div
					id="applications"
					v-for="(application, index) in applications">
					<h3>Name: {{application.name}}</h3>
					<p>Phone Number: {{application.phoneNum}}</p>
					<p>Email: {{application.email}}</p>
					<p>petID: {{application.petId}}</p>
				</div>
			</div>

			<div
				class="page"
				v-if="page === 3">
				<h1>Submit Application</h1>
				<form @submit.prevent="createApplication()">
					<span>Name</span>
					<input
						type="text"
						placeholder="Name"
						v-model="newApplication.name" />
					<span>Phone Number</span>
					<input
						type="text"
						placeholder="Phone Number"
						v-model="newApplication.phoneNum" />
					<span>Email</span>
					<input
						type="text"
						placeholder="Email"
						v-model="newApplication.email" />
					<span>PetID</span>
					<input
						type="text"
						placeholder="PetID"
						v-model="newApplication.petId" />
					<button @click="createApplication()">Apply</button>
				</form>
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
